body {
    background: url("./assets/background.svg");
}

.custom-shape-divider-top-1720504008 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1720504008 svg {
    position: relative;
    display: block;
    width: calc(165% + 5px);
    height: 200px;
}

.custom-shape-divider-top-1720504008 .shape-fill {
    fill: #2b2b2c;
}

header{
    display: flex;
    justify-content: center;
}

.page-wrapper{
    margin-top: 100px;
}

.slideshow-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.slideshow-button{
    text-decoration: none;
    background: #f5842c;
    color: #fff;
    padding: 20px;
}

.slideshow-title{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}