body {
    background: url("./assets/background.svg");
}

.custom-shape-divider-top-1720504008 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1720504008 svg {
    position: relative;
    display: block;
    width: calc(175% + 15px);
    height: 160px;
}

.custom-shape-divider-top-1720504008 .shape-fill {
    fill: #2b2b2c;
}

.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.not-found-page h1 {
    color: #f5842c;
    font-size: 45px;
}

.not-found-page p {
    font-size: 25px;
}
